/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Pragma Brand Colors */
:root {
  /* Primary Purple - Pragma Main Color */
  --ifm-color-primary: #6429CD;
  --ifm-color-primary-dark: #5824b8;
  --ifm-color-primary-darker: #5222ae;
  --ifm-color-primary-darkest: #440099;
  --ifm-color-primary-light: #7035d4;
  --ifm-color-primary-lighter: #7c3fdb;
  --ifm-color-primary-lightest: #8f5ae0;
  
  /* Pragma Black */
  --ifm-color-black: #1D1D1B;
  
  /* Secondary Purples */
  --pragma-purple-dark: #330072;
  --pragma-purple-medium: #440099;
  --pragma-purple-light: #531DBC;
  
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(100, 41, 205, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #8f5ae0;
  --ifm-color-primary-dark: #7c3fdb;
  --ifm-color-primary-darker: #7035d4;
  --ifm-color-primary-darkest: #6429CD;
  --ifm-color-primary-light: #a175e5;
  --ifm-color-primary-lighter: #ad87e9;
  --ifm-color-primary-lightest: #c5aaf1;
  --docusaurus-highlighted-code-line-bg: rgba(100, 41, 205, 0.3);
}


/* Footer customization with Pragma colors */
.footer--dark {
  --ifm-footer-background-color: #1D1D1B;
  --ifm-footer-color: #ffffff;
  --ifm-footer-link-color: #8f5ae0;
  --ifm-footer-title-color: #ffffff;
}

.footer--dark .footer__link-item:hover {
  color: #6429CD;
}
